/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

.head-title {
  padding-top: 10px;
  color: #665e4d;
  font-size: 20px;
}

body{
	margin:0;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.container-fluid{
	background-color: #fff7e6;
}
.sidebar{
	padding: 30px 20px 30px 0;
	margin-bottom: 30px;
	height:700px;
	overflow:auto;
	border-right: solid 1px #b2e1ed;
}
.flash{
	width: 300px;
	height: 30px;
	font-size: 15px;
	color: #deb887;
	line-height: 30px;
}
.user_flash {
	font-size: 15px;
	color: #deb887;
}
.ranking {
	padding-left: 10%;
}
.new-user {
	padding-left: 350px;
}
.login-btn {
	margin: 30px 0 50px 270px;
}
.new-pass {
	text-align: right;
	margin: 10px 270px 20px 0;
}
@media screen and (max-width:1200px) {
	.new-pass {
			margin: 20px auto;
			text-align: center;
	}
	.login {
		width: 100%;
		height: 800px;
		&-main {
			width: 100%;
		}
		&-btn {
			margin: 30px auto;
		}
	}
	.new-user{
		padding-left: 0;
		text-align: center;
	}
}
@media screen and (max-width:425px) {
	.login {
		width: 100%;
		height: 800px;
		&-main {
			width: 100%;
		}
		&-btn {
			margin: 30px auto;
		}
	}
	.new-user{
		padding-left: 0;
		text-align: center;
	}
	.mail {
		margin-right: 20px;
		width: 100%;
	}
	.mail-field {
		width: 100%;
		padding-top: 20px;
	}
	.pass {
		padding-left: 0;
		text-align: center;
	}
	.pass-field{
		width: 100%;
	}
	.new-pass {
		margin: 20px auto;
		text-align: center;
	}
}
