/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

.head-title {
  padding-top: 10px;
  color: #665e4d;
  font-size: 20px;
}

body{
	margin:0;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.container-fluid{
	background-color: #fff7e6;
}
.sidebar{
	padding: 30px;
	margin: 0 0 30px 30px;
	width: 285px;
	height:700px;
	overflow:auto;
	border-right: solid 1px #b2e1ed;
}
.posts{
	border: 1px solid #edb2c4;
	margin: 10px 10px 10px 0;
	float: left;
	background-color: #ffffff
}