// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar{
	margin_bottom: 0;
}

.homes_top{
	background-image: image-url("old-1130731_1920.jpg");
	background-size: cover;
	background-position: center;
}
.homes_top_main{
	text-align: center;
	margin-top: 300px;
	color: white;
}
.homestop_main_head{
	color: white;
	font-size: 50px;
}
.homes_top_sub{
	text-align: center;
	margin-top: 30px;
	color: white;
}
.acdn-content{
	width: 200px ;
	height: 200px ;
}